.ul-btn {
    color: var(--black);
    border-radius: 999px;
    border: 1px solid var(--black);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: clamp(12px, 1.05vw, 20px);
    height: clamp(45px, 3.15vw, 60px);
    line-height: clamp(45px, 3.15vw, 60px);
    padding: 0 clamp(20px, 1.58vw, 30px);
    font-weight: 400;
    font-size: clamp(13px, 0.84vw, 16px);
    position: relative;
    // margin-bottom: 10px;
    // margin-right: 10px;
    text-transform: uppercase;

    &:hover {
        background-color: var(--at-blue);
        // color: var(--white);
    }

    i {
        padding-top: 5px;
    }
}

.ul-section {
    &-heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: clamp(20px, 1.58vw, 30px);
        margin-bottom: clamp(20px, 2.10vw, 40px);
        // flex-wrap: wrap;

        @include xs {
            flex-direction: column;
            justify-content: center;
            text-align: center;
        }
    }

    &-sub-title {
        font-weight: 400;
        font-size: clamp(13px, 0.84vw, 16px);
        line-height: 100%;
        letter-spacing: 0.25em;
        text-transform: uppercase;
        color: var(--ul-primary);
        margin-bottom: clamp(7px, 0.89vw, 17px);
        display: inline-block;
    }

    &-title {
        font-weight: 600;
        font-size: clamp(25px, 2.1vw, 40px);
        // line-height: 275%;
        letter-spacing: -0.03em;
        color: var(--black);
        margin-bottom: 0;
    }
}


// breadcrumb
.ul-breadcrumb {
    background-color: #FEF4F6;
    border-radius: 16px;
    margin: 0 clamp(15px, 13.4vw, 255px);
    padding: clamp(24px, 2.30vw, 40px) 16px;
    text-align: center;

    &-title {
        font-weight: 600;
        font-size: clamp(28px, 2vw, 38px);
        color: var(--black);
        line-height: 1.3;
        margin-bottom: 10px;
    }

    &-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: clamp(14px, 0.9vw, 16px);
        color: var(--black);
        gap: clamp(7px, 0.53vw, 10px);

        i {
            font-size: clamp(9px, 0.63vw, 12px);
            display: inline-flex;
        }

        a {
            color: var(--black);

            &:hover {
                color: var(--ul-primary);
            }
        }
    }
}

@include xxl {
    .ul-breadcrumb {
        margin: 0 clamp(15px, 5.4vw, 255px);
    }
}

@include xl {
    .ul-breadcrumb {
        margin: 0 clamp(15px, 3.15vw, 255px);
    }
}


// sidebar
.ul-sidebar {
    position: fixed;
    z-index: 10;
    right: 0;
    height: 100%;
    overflow: auto;
    background: #fff;
    z-index: 999;
    transform: translateX(100%);
    transition: 0.4s ease;
    padding: clamp(20px, 1.58vw, 30px) clamp(20px, 1.58vw, 30px);
    // padding-top: 15px;
    max-width: 100%;
    border-left: 1px solid var(--ttRed);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: clamp(320px, 40vw, 100%);

    &.active {
        transform: translateX(0);
    }
}

// pagination
.ul-pagination {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    margin-top: clamp(25px, 2.63vw, 50px);
    padding-top: clamp(25px, 2.63vw, 50px);

    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: clamp(9px, 0.63vw, 12px);

        >li a {
            color: var(--black);
            font-size: clamp(11px, 0.74vw, 14px);

            &:hover {
                color: var(--ul-primary);
            }

            i {
                display: inline-flex;
                padding-top: 7px;
            }
        }

        .pages {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: clamp(9px, 0.63vw, 12px);

            a {
                width: 36px;
                aspect-ratio: 1/1;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                font-weight: 600;
                font-size: clamp(11px, 0.74vw, 14px);
                background-color: rgb(239, 40, 83, 0.05);
                color: var(--ul-primary);
                padding-top: 2px;

                &:hover,
                &.active {
                    background-color: var(--ul-primary);
                    color: var(--white);
                }
            }
        }
    }
}


// accodion
.ul-single-accordion-item {
    display: grid;
    grid-template-rows: max-content 0fr;
    transition: 0.4s ease;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: clamp(15px, 1.05vw, 20px) clamp(15px, 1.58vw, 30px);
    margin-bottom: clamp(15px, 1.58vw, 30px);

    &:last-child {
        margin-bottom: 0;
    }

    &.open {
        grid-template-rows: max-content 1fr;

        .ul-single-accordion-item {
            &__header i {
                transform: rotate(45deg);
                color: var(--ul-primary);
            }

            &__title {
                color: var(--ul-primary);
            }

            &__body {
                padding-top: clamp(7px, 0.74vw, 14px);
            }
        }
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 8px;

        .icon {
            display: inline-flex;
        }

        i {
            transition: transform 0.4s ease;
            display: inline-flex;
            font-size: clamp(13px, 0.84vw, 16px);
        }
    }

    &__title {
        margin-bottom: 0;
        text-transform: uppercase;
        font-weight: 500;
        font-size: clamp(13px, 0.84vw, 16px);
    }

    &__body {
        transition: all 0.4s ease;
        overflow: hidden;

        p {
            line-height: 1.5;
            font-size: clamp(13px, 0.84vw, 16px);
            color: #676666;
        }
    }
}
