@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


html {
    overflow-x: hidden;
}

body {
    font-family: var(--font-primary);
    font-size: 16px;
    // max-width: 1920px;
    margin: auto;
    overflow: hidden;
}

a,
button,
img,
svg path {
    transition: 0.4s ease;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;

    &:hover {
        color: var(--ul-primary);
    }
}

p {
    font-size: clamp(15px, 0.95vw, 18px);
    line-height: 1.75;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none inside;
}

input {
    background-color: transparent;

    &:focus,
    &:focus-visible,
    &:focus-within {
        outline: none;
    }
}

[data-sal] {
    transition-duration: 1s;
    transition-delay: 0.2s;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

// radio button style
input[type=radio]:checked+span::after {
    opacity: 1;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    color: var(--black) !important;
    -webkit-text-fill-color: var(--black) !important;
    -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
    -webkit-background-clip: text !important;
    background-clip: text !important;
}


// input:-internal-autofill-selected {
//     appearance: menulist-button;
//     background-image: none !important;
//     background-color: light-dark(rgba(232, 240, 254, 0), rgba(70, 90, 126, 0)) !important;
//     color: fieldtext !important;
//     appearance: none;
//     background-image: none !important;
//     background-color: red !important;
//     color: #000 !important;
// }


button {
    background: none;
    border: none;
}

.ul-container {
    margin: 0 clamp(15px, 3.15vw, 60px);
}

.ul-inner-container {
    margin: 0 clamp(15px, 10.25vw, 195px);

    @include xxl {
        margin: 0 clamp(15px, 7.88vw, 150px);
    }

    @include xl {
        margin: 0 clamp(15px, 2.88vw, 150px);
    }
}

.row-cols-xxs-1 {
    @include xxs {
        >* {
            width: 100%;
        }
    }
}

@media (min-width: 1600px) {
    .col-xxxl-9 {
        flex: 0 0 auto;
        width: 75%;
    }
}

@media (min-width: 1600px) {
    .col-xxxl-3 {
        flex: 0 0 auto;
        width: 25%;
    }
}

// preloader
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;

    .loader {
        width: 150px;
        aspect-ratio: 1.154;
        clip-path: polygon(50% 0, 100% 100%, 0 100%);
        display: grid;
        background:
            conic-gradient(from 0deg at 50% 60%, #0219A6 120deg, #0000 0),
            conic-gradient(from 120deg at 50% 60%, #0219A6 120deg, #0000 0),
            conic-gradient(from 240deg at 50% 60%, #0219A6 120deg, #0000 0),
            conic-gradient(from 0deg at 50% 60%, #E5002A 120deg, #0000 0),
            conic-gradient(from 120deg at 50% 60%, #E5002A 120deg, #0000 0),
            conic-gradient(from 240deg at 50% 60%, #E5002A 120deg, #0000 0),
            #0219A6;
        background-size: 200% 200%;
        background-repeat: no-repeat;
        animation: l8 1.5s infinite;
    }

    @keyframes l8 {
        0% {
            background-position: left, top, right
        }

        30%,
        50% {
            background-position: left, top, right, center, center, center
        }

        80%,
        100% {
            background-position: center
        }
    }
}

.logo {
    // width: clamp(115px, 7.09vw, 135px);
    width: clamp(115px, 8.93vw, 170px);
}

.ul-bs-row {
    --bs-gutter-x: clamp(15px, 1.58vw, 30px);
    --bs-gutter-y: clamp(15px, 1.58vw, 30px);
}

.ul-inner-page-container {
    margin: clamp(40px, 4.20vw, 80px) clamp(15px, 13.40vw, 255px);

    @include xl {
        margin: clamp(40px, 4.20vw, 80px) clamp(15px, 5.40vw, 255px);
    }

    @include lg {
        margin: clamp(40px, 4.20vw, 80px) clamp(15px, 3.15vw, 255px);
    }
}

