:root {
    --black: #000;
    --white: #fff;
    --ul-primary: #EF2853;
    --ul-secondary: #FFA31A;
    --ul-gradient: linear-gradient(90deg, var(--ul-primary) 0%, var(--ul-secondary) 100%);

    --font-primary: "Poppins", sans-serif;
}
